{% extends 'admin_nav.html' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--面板的标题-->
            <h3 class="panel-title text-center">用户列表</h3>
        </div>
        <!--面板的主体-->
        <!--<div class="panel-body">-->
        <!--在面板中嵌入一个表格-->
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="">
                <td>编号</td>
                <td>用户名</td>
                <td>权限</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td><a href="{% url 'admin:user_detail' user_id=user.id %}">{{ user.username }}</a></td>
                        {% if user.is_active == True %}
                            <td>正常</td>
                            <td>
                                <form action="{% url 'admin:user_edit_active' %}" method="post">
                                    <input type="hidden" name="user_id" value="{{ user.id }}">
                                    <button type="submit" class="btn btn-info btn-xs">冻结</button>
                                </form>
                            </td>
                        {% else %}
                            <td>冻结</td>
                            <td>
                                <form action="{% url 'admin:user_edit_active' %}" method="post">
                                    <input type="hidden" name="user_id" value="{{ user.id }}">
                                    <button type="submit" class="btn btn-info btn-xs">激活</button>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><!-- 第一页  --!-->
                    <a href="?page=1" aria-label="Previous">
                        <span aria-hidden="true">««</span>
                    </a>
                </li>
                <li><!-- 上一页  --!-->
                    <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
            {% endif %}
            {% if paginator.num_pages > 5 %}<!-- 分页控制器：多于五页的显示  --!-->
                {% for page in paginator.page_range %}
                    {% if forloop.counter == page_obj.number %}
                        {% if forloop.counter > 3 %}<!-- 省略号显示控制  --!-->
                            <li>
                                <span class="current">
                                    ...
                                </span>
                            </li>
                        {% endif %}
                        {% if page_obj.number|add:"-2" >= 1 %}
                            <!-- 当前页前页  --!-->
                            <li>
                                <a href="?page={{ page_obj.number|add:"-2" }}">
                                    <span class="current">
                                    {{ page_obj.number|add:"-2" }}
                                    </span>
                                </a>
                            </li>
                        {% endif %}
                        {% if page_obj.number|add:"-1" >= 1 %}
                            <!-- 当前页前页  --!-->
                            <li>
                                <a href="?page={{ page_obj.number|add:"-1" }}">
                                    <span class="current">
                                    {{ page_obj.number|add:"-1" }}
                                    </span>
                                </a>
                            </li>
                        {% endif %}
                        <li><!-- 当前页  --!-->
                            <span class="current" style="background-color: #0dffdd">
                                {{ forloop.counter }}
                            </span>
                        </li>
                        {% if page_obj.number|add:"1" <= paginator.num_pages %}
                            <!-- 当前页后页  --!-->
                            <li>
                                <a href="?page={{ page_obj.number|add:"1" }}">
                                    <span class="current">
                                    {{ page_obj.number|add:"1" }}
                                    </span>
                                </a>
                            </li>
                        {% endif %}
                        {% if page_obj.number|add:"2" <= paginator.num_pages %}
                            <!-- 当前页后页  --!-->
                            <li>
                                <a href="?page={{ page_obj.number|add:"2" }}">
                                    <span class="current">
                                    {{ page_obj.number|add:"2" }}
                                    </span>
                                </a>
                            </li>
                        {% endif %}
                        {% if forloop.counter < paginator.num_pages|add:"-3" %}<!-- 省略号显示控制  --!-->
                            <li>
                                <span class="current">
                                    ...
                                </span>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}<!-- 分页控制器：少于五页的显示  --!-->
                {% for page in paginator.page_range %}
                    {% if forloop.counter == page_obj.number %}
                        <!-- 当前页  --!-->
                        <li>
                            <span class="current" style="background-color: #0dffdd">
                                {{ forloop.counter }}
                            </span>
                        </li>
                    {% else %}
                        <!-- 非当前页  --!-->
                        <li>
                            <a href="?page={{ forloop.counter }}">
                                <span class="current">
                                {{ forloop.counter }}
                                </span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if page_obj.has_next %}
                <li><!-- 下一页  --!-->
                    <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
                <li><!-- 最后一页  --!-->
                    <a href="?page={{ paginator.num_pages }}" aria-label="Next">
                        <span aria-hidden="true">»»</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <!-- 页面显示  --!-->
    <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination"  >
            <li> <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}
                </span>
            </li>
        </ul>
    </nav>
{% endblock %}